<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>vue-todolist</title>
</head>
<body>
    <header>
        <h1>Todolist</h1>
    </header>

    <main>
        <div id="miapp">
            <div id="container">
                <input type="text" placeholder="nuovo todo" v-model="azione" @keyup.enter="aggiungi">
                <button @click="aggiungi">Aggiungi</button>  
            </div>  

            <div id="lista">
                <ul>
                    <li v-for="(element,index) in items">
                        <span :class="fatto(index)" @click="verificato(index)">{{element.text}}</span>
                        <i class="fas fa-times" @click="togli(index)"></i>
                    </li>
                </ul>
            </div>
        </div>                  
    </main>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script type="text/javascript" src="js/myscript.js"></script>
</body>
</html>